$gradient1: #182180;
$gradient2: #004b9c;
$primary: #3a0d4e;
$primary-light: #3a0d7f;
$secondary: #cb9513;
$dark: #1b1c1e;
$light: #f1f1f1;
$hover: #b57807;
$loading: '#0000cd';
$correct: rgb(27, 232, 27);
$wrong: #dc143c;
